<h1><%= @restaurant.name %></h1>
<%= @restaurant.category %>
<%= link_to "edit restaurant", edit_restaurant_path %>
<%= link_to "Delete", restaurant_path(@restaurant),
method: :delete,
data: { confirm: "Are you sure?" } %>

<% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <% end %>
